@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-dark: #1F2937;
    --primary-green: #6EE7B7;
  }

  body {
    background-color: var(--primary-dark);
    color: var(--primary-green);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 300px;
    word-wrap: break-word;
    margin-right: auto;
    margin-left: auto;
    padding: auto;
    align-content: center;
    text-align: center;
  }

input,label,#output,button{
    display: block;
}

h1 {
    text-align: center;
    margin: 2rem;
  }

  input {
    margin-bottom: 1rem;
    width: 100%;
    /* padding: 0.5rem; */
  }

  button {
    display: block;
    margin-top: 1rem;
    margin: auto;
    background: transparent;
    color: var(--primary-green);
    border-color: var(--primary-green);
    border-width: medium;
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
  }

  #output {
      margin:auto;
      margin-top: 1rem;
      width: 100%;
      text-align: center;
      padding: 0.3rem 0.5rem 0.1rem 0.5rem;
      background: transparent;
      color: var(--primary-green);
      border:none;
      font-size: larger;
  }

  #lucky-number{
      padding: 0.65rem;
  }

  #date-of-birth{
      padding: 0.5rem;
  }

  a{
      color:white;
  }

  .Footer_outer{
    position: relative;
    left: 0;
    bottom: 0;
    padding: 0;
    /* border: 1px solid; */
    width:100%;
    margin-right: auto;
    margin-left: auto;
    padding: auto;
    align-content: center;
    text-align: center;
    }
    
    .Footer_inner_left{
    width: 50%;
    float: left;
    display: block;
    /* padding-top: 2rem; */
    }
    
    .Footer_inner_right{
    width: 50%;
    float: right;
    display: block;
    /* padding-top: 2rem; */
    }

    @media screen and (max-width: 600px) {
        .container{
            width: 80%;
        }
        .Footer_inner_right,.Footer_inner_left {
          width: 100% !important;
          text-align: center;
          word-wrap: break-word;
          float: none !important;
        }
        .Footer_outer
        {
         padding: 0rem;
        padding-bottom: 2rem;
        }
      }